body {
  font-family: 'IBM Plex Mono', serif;;
  background-image: linear-gradient(to top,rgb(149, 167, 214), rgb(18, 34, 61)); 
}

.section {
  height: 550px;
  width: 100%;
  text-align: center;
}

.section-1{
  color: rgb(9, 10, 9);
}

.section-2{
  color: rgb(49, 49, 49);
}

.section-3{
  color: rgb(165, 168, 166);
}

.section-4{
  color: rgb(182, 189, 185);
}

.section-5{
  color: rgb(243, 246, 244);
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

p {
  margin: 5px;
  border-style: solid;
  border-color: rgb(10, 18, 15);
  width: 150px;;
}